doctype html
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]><!--> <html class="no-js"> <!--<![endif]
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    title #{title} - AgilityDiary

    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(href='/static/css/styles.css?v=#{cacheBuster}', rel='stylesheet')

    script(src='/js/lib/jquery-2.1.0.min.js?v=#{cacheBuster}')
    script(src='/js/lib/parsley.min.js?v=#{cacheBuster}')
    script(src='/js/lib/bootstrap.min.js?v=#{cacheBuster}')
    script(src='/js/main.js?v=#{cacheBuster}')
  body.signedOut
    include partials/flash

    section.hero
      h1.brandLogo
        | Welcome to AgilityDiary

        h2.tagline
          | Connecting the agility community

    section.panel
      div.container
        div.cta
          h3 Explore Agility
          p
            i.fa.fa-search.fa-2x.pull-left
            | Events, clubs, trainers and workshops.
        div.cta
          h3 Track Progress
          p
            i.fa.fa-bar-chart-o.fa-2x.pull-left
            | Record each dogs results.
        div.cta
          h3 Share Achievements
          p
            i.fa.fa-trophy.fa-2x.pull-left
            | words and picture here

    section.panel
      div.container
        div.contentWrapper
          section.contentMain
            strong.brandLogo AgilityDiary
            | has been created to record results and find shows easily. We would love to hear your comments, if you find it useful or if you have any ideas for features if you can think of ways to improve it.
            p We have lots of ideas for the site.
          section.contentSub
            | words and here

    section.panel
      div.container
        block content

    include partials/footer
