extends ../layout

block content
  h1 Account
  h2 Profile Information

  form(action='/account/profile', method='POST')
    fieldset
      .form-group.formEmail
        label(for='email') Email
        input(type='email', name='email', id='email', value='#{user.email}')
      .form-group.formText
        label(for='name') Name
        input(type='text', name='name', id='name', value='#{user.profile.name}')
      fieldset.form-group.formRadioWrapper
        legend(for='name') Gender
        label Male
        input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')

        label Female
        input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')

      .form-group.formText
        label(for='location') Location
        input(type='text', name='location', id='location', value='#{user.profile.location}')
      .form-group.formText
        label(for='website') Website
        input(type='text', name='website', id='website', value='#{user.profile.website}')
      .form-group.formSubmit
        input(type='submit', value='Update Profile')



  h2 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    fieldset
      .form-group.formPassword
        label(for='password') New Password
        input(type='password', name='password', id='password')
      .form-group.formPassword
        label(for='confirmPassword') Confirm Password
        input(type='password', name='confirmPassword', id='confirmPassword')
      .form-group.formButton
        button(type='submit') Change Password

    h2 Delete Account

    p You can delete your account, but keep in mind this action is irreversible.
    form(action='/account/delete', method='POST')
      button(type='submit') Delete my account

  h2 Linked Accounts

  if user.google
    p: a(href='/account/unlink/google') Unlink your Google account
  else
    p: a(href='/auth/google') Link your Google account

  if user.facebook
    p: a(href='/account/unlink/facebook') Unlink your Facebook account
  else
    p: a(href='/auth/facebook') Link your Facebook account

  if user.twitter
    p: a(href='/account/unlink/twitter') Unlink your Twitter account
  else
    p: a(href='/auth/twitter') Link your Twitter account
